/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.window100vh {
  background-size: cover;
}

.firstdiv {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8rem;
  margin-bottom: 50px;
  margin-top: 100px;
}

ul {
  padding: 0;
  margin-bottom: 0;
  width: 90%;
}

ul li {
  background-color: azure;
  border: 1px solid grey;
  list-style: none;
  padding: 10px;
}
ul li:hover {
  cursor: pointer;
}

input {
  width: 100%;
}

i {
  visibility: hidden;
}

ul li:hover > i {
  visibility: visible;
}

.counter-tasks {
  text-align: center;
  display: block;
  padding: 5px;
}

.text-taskts-counter {
  display: inline-block;
  background-color: lightyellow;
  padding: 10px;
  margin: 0;
}

.item-text-task {
  margin: 0;
  padding: 0;
}
